{% extends 'base.html' %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-7 fst-italic">Bienvenido al sitio de posts</h1>
        </div>
    </div>


    {% if posts %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Post</strong>
                            <h3 class="mb-0">{{post.titulo}}</h3>
                            <div class="mb-1 text-muted">{{post.fecha_creacion}}</div>
                            <p class="card-text mb-auto">{{post.contenido}}</p>
                            <a href="{% url 'detalle' post.id %}" class="stretched-link">Detalle</a>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>

    {% else %}
        <div class="alert alert-danger" role="alert">
            No hay posts
        </div>
    {% endif %} 
{% endblock %}

